In [1]:
# The code was removed by DSX for sharing.

,customer_id,first_name,last_name,twitter_handle,number,gender,age,type,location,location_lat,...,voice_package_deal,4g_handset_deal,all_u_can_eat_data_deal,accidental_damage_cover_deal,europe_roamer_deal,americas_roamer_deal,asia_africa_roamer_deal,extra_handset_deal,musicsubscription_deal,churned
0,C0000000965,DONALD,RIVERA,NaN,3172005440,M,36,Personal,TR21,50.015577,...,N,Y,N,N,N,N,N,N,N,N
1,C0000000527,JULIE,MITCHELL,julie_mitchell,2520653481,F,24,Personal,CM19,51.758703,...,N,N,N,N,N,N,N,N,N,Y
2,C0000000585,DEBORAH,MARTINEZ,NaN,5025936010,F,50,Personal,B79,52.670176,...,N,N,N,N,N,N,N,N,N,N
3,C0000000448,SAMUEL,ROBERTS,samuel_roberts,4995172201,M,57,Personal,GU1,51.245852,...,N,N,Y,N,N,N,N,Y,N,N
4,C0000000587,SARA,WRIGHT,sara_wright,6237408139,M,41,Personal,SW17,51.433157,...,N,N,Y,N,N,N,N,Y,N,N

In [2]:
# The code was removed by DSX for sharing.

[Row(customer_id='C0000000965', first_name='DONALD', last_name='RIVERA', twitter_handle=None, number='3172005440', gender='M', age='36', type='Personal', location='TR21', location_lat='50.015577', location_lon='-5.930315', callcenter_callcount='0', text_package_deal='Y', voice_package_deal='N', 4g_handset_deal='Y', all_u_can_eat_data_deal='N', accidental_damage_cover_deal='N', europe_roamer_deal='N', americas_roamer_deal='N', asia_africa_roamer_deal='N', extra_handset_deal='N', musicsubscription_deal='N', churned='N'),
 Row(customer_id='C0000000527', first_name='JULIE', last_name='MITCHELL', twitter_handle='julie_mitchell', number='2520653481', gender='F', age='24', type='Personal', location='CM19', location_lat='51.758703', location_lon='0.054700', callcenter_callcount='5', text_package_deal='N', voice_package_deal='N', 4g_handset_deal='N', all_u_can_eat_data_deal='N', accidental_damage_cover_deal='N', europe_roamer_deal='N', americas_roamer_deal='N', asia_africa_roamer_deal='N', extra_handset_deal='N', musicsubscription_deal='N', churned='Y'),
 Row(customer_id='C0000000585', first_name='DEBORAH', last_name='MARTINEZ', twitter_handle=None, number='5025936010', gender='F', age='50', type='Personal', location='B79', location_lat='52.670176', location_lon='-1.645390', callcenter_callcount='1', text_package_deal='N', voice_package_deal='N', 4g_handset_deal='N', all_u_can_eat_data_deal='N', accidental_damage_cover_deal='N', europe_roamer_deal='N', americas_roamer_deal='N', asia_africa_roamer_deal='N', extra_handset_deal='N', musicsubscription_deal='N', churned='N'),
 Row(customer_id='C0000000448', first_name='SAMUEL', last_name='ROBERTS', twitter_handle='samuel_roberts', number='4995172201', gender='M', age='57', type='Personal', location='GU1', location_lat='51.245852', location_lon='-0.554145', callcenter_callcount='0', text_package_deal='N', voice_package_deal='N', 4g_handset_deal='N', all_u_can_eat_data_deal='Y', accidental_damage_cover_deal='N', europe_roamer_deal='N', americas_roamer_deal='N', asia_africa_roamer_deal='N', extra_handset_deal='Y', musicsubscription_deal='N', churned='N'),
 Row(customer_id='C0000000587', first_name='SARA', last_name='WRIGHT', twitter_handle='sara_wright', number='6237408139', gender='M', age='41', type='Personal', location='SW17', location_lat='51.433157', location_lon='-0.168994', callcenter_callcount='0', text_package_deal='N', voice_package_deal='N', 4g_handset_deal='N', all_u_can_eat_data_deal='Y', accidental_damage_cover_deal='N', europe_roamer_deal='N', americas_roamer_deal='N', asia_africa_roamer_deal='N', extra_handset_deal='Y', musicsubscription_deal='N', churned='N')]

In [ ]:
# The code was removed by DSX for sharing.

In [3]:
pwd

'/gpfs/global_fs01/sym_shared/YPProdSpark/user/secd-cd1909fc628834-3c9ae670585a/notebook/work'